*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.grid{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.row{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

#header{
font-size: 40px;
text-align: center;
}

#heading{
  font-size: 20px;
}

h3{
  font-size: 20px;
}

.col-half{
  width: 50%;
  text-align: center;
}
